/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: #faf9f6; /* Soft Light Beige background */
}
:root {
  --main-color: #fcb700; /* Bright Yellow */
  --secondary-color: #f0f0f0; /* Light Gray */
  --dark-color: #333333; /* Dark Charcoal */
  --parg-color: #1d1a1a; /* Medium Gray */
  --highlight-color: #ffffff; /* Pure White */
  --border-color: #c0c0c0; /* Light Gray */
  --name-item: #b5743e; /* Dark Orange */
}
::selection {
  background-color: var(--main-color);
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #777;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 3px;
  height: 100px;
}
/* custom styles */
.container {
  width: 70%;
  padding: 25px 0px;
  margin: auto;
}
@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}
.page-heading {
  color: var(--parg-color);
  text-align: center;
}
.page-nav .container {
  justify-content: center;
}
.page-section {
  margin-top: 160px;
  padding: 20px 0;
}
@media (max-width: 760px) {
  .page-section {
    margin-top: 220px;
  }
}
/* toast styles */
.toasts {
  position: fixed;
  z-index: 3;
  background-color: #00000000;
  width: 100%;
  bottom: 0;
  left: 0;
}
.toasts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 3px;
}
.toast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 4px;
  width: 30%;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid var(--main-color);
  transition: all 0.7s;
  transform: translateX(-300%);
}
@media (max-width: 760px) {
  .toast {
    width: 100%;
    justify-content: space-between;
  }
}
.active-toast {
  transform: translateX(0);
}
.toast .toast-icon {
  color: var(--main-color);
  font-size: 30px;
}
.toast p {
  color: var(--parg-color);
  font-weight: 500;
}
@media (max-width: 760px) {
  .toast-txt p {
    width: 200px;
  }
}
.toast .view-cart {
  color: var(--highlight-color);
  background-color: var(--main-color);
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid var(--main-color);
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}
.toast .remove-toast {
  font-size: 25px;
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.3s;
}
.toast .view-cart:hover,
.toast .remove-toast:hover {
  color: var(--parg-color);
  background-color: var(--highlight-color);
}
/* header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
  background-color: var(--secondary-color);
}
/* .top-nav Styles */
.top-nav {
  border-bottom: 1px solid var(--dark-color);
}
.top-nav .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search {
  display: flex;
  column-gap: 0px;
  width: 40%;
}
@media (max-width: 760px) {
  .top-nav .container {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
  }
  .search {
    order: 3;
    width: 100%;
    height: 45px;
  }
}
.search .search-input,
.search .search-btn {
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
}
.search .search-input {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}
.search .search-btn {
  width: 170px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--main-color);
  color: var(--dark-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
}
.search .search-btn:hover {
  background-color: var(--highlight-color);
}
.cart-container {
  background-color: var(--highlight-color);
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px var(--main-color) solid;
  cursor: pointer;
  transition: all 0.3s;
}
.cart-container:hover {
  background-color: var(--main-color);
}

.cart-container .cart-icon .cart-counter {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--main-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
/* NAV Styles */
nav .container {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
}
nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
  transition: all 0.3s;
  z-index: 5;
}
nav .links .close-menu {
  display: none;
}
nav .links img {
  display: none;
}
@media (max-width: 760px) {
  nav .links {
    display: flex;
    position: fixed;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    row-gap: 20px;
    justify-content: start;
    padding: 40px 0;
    transform: translateX(-100%);
  }
  nav .links.active-menu {
    transform: translateX(0);
  }
  nav .links a {
    font-size: 30px;
  }
  nav .links img {
    display: block;
    width: 200px;
  }
  nav .links .close-menu {
    display: block;
    font-size: 40px;
    color: var(--main-color);
    cursor: pointer;
  }
}
.links a {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.links a::after {
  content: "";
  display: block;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
  bottom: -10px;
  left: 0;
}
.links li.active ::after,
.links li:hover ::after {
  width: 100%;
}
nav .btns {
  display: flex;
  column-gap: 30px;
}
nav .menu-icon {
  display: none;
  cursor: pointer;
}
nav .btns span {
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2px;
}
nav .btns a {
  color: var(--parg-color);
  font-size: 15px;
  transition: all 0.3s;
}
@media (max-width: 760px) {
  nav .container {
    align-items: center;
    justify-content: space-between;
  }
  nav .menu-icon {
    display: block;
    font-size: 25px;
  }
  nav .btns a {
    font-size: 10px;
  }
  nav .btns {
    column-gap: 10px;
  }
}
nav .btns i {
  transition: all 0.3s;
}
nav .container .btns span:hover a,
nav .container .btns span:hover i {
  color: var(--highlight-color);
}
/* Cart Card Styles */
.cart-card {
  padding: 10px;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: var(--highlight-color);
  transition: all 0.5s;
  z-index: 4;
}
.active-cart {
  right: 0;
}
.cart-card h3 {
  color: var(--parg-color);
  font-size: 25px;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 30px 0;
}
.cart-header .close-cart {
  cursor: pointer;
  font-size: 35px;
  transition: all 0.3s;
}
.cart-header .close-cart:hover {
  color: var(--main-color);
}

.cart-items {
  height: 80%;
  overflow-y: scroll;
  padding: 5px 0;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 10px 15px;
  background-color: var(--highlight-color);
  width: 95%;
  margin: 0 auto 5px;
  border-bottom: 2px solid var(--border-color);
}
.cart-item .item-img {
  width: 70px;
}
.cart-item .item-detailes {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.item-detailes .item-title {
  color: var(--parg-color);
  font-size: 15px;
  font-weight: 500;
}
.item-detailes .item-price {
  color: var(--main-color);
  font-size: 15px;
  font-weight: 500;
}
.cart-item .item-remove {
  cursor: pointer;
  transition: all 0.3s;
}
.cart-item .item-remove:hover {
  color: var(--main-color);
}
.cart-footer {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border-top: 1px solid var(--border-color);
  row-gap: 20px;
}
.cart-footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-footer button {
  padding: 15px 7.5px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: var(--dark-color);
  transition: all 0.3s;
}
.cart-footer button:hover {
  background-color: var(--highlight-color);
  color: var(--main-color);
}

.cart-footer-text p {
  font-size: 25px;
  color: var(--main-color);
  font-weight: 500;
}
@media (max-width: 760px) {
  .cart-card {
    width: 100%;
  }
}
/* Hero Section Styles */
.hero-section {
  margin-top: 160px;
}
@media (max-width: 760px) {
  .hero-section {
    margin-top: 220px;
  }
}
/* slider styles */
.slider {
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
}
.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-color: #ffffff29;
  color: var(--main-color);
  font-size: 25px;
  cursor: pointer;
  border: 0.5px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.slider button:hover {
  background-color: var(--main-color);
  color: var(--highlight-color);
}
.slider .slider-btn--left {
  left: 70px;
}
.slider .slider-btn--right {
  right: 70px;
}
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  column-gap: 15px;
}
.dot {
  width: 10px;
  height: 10px;
  border: 0.5px solid var(--border-color);
  border-radius: 50%;
  background-color: #ffffff59;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 760px) {
  .slider,
  .slider .slide {
    height: 10rem;
  }
  .slider button {
    width: 25px;
    height: 25px;
    font-size: 20px;
  }
  .slider .slider-btn--left {
    left: 15px;
  }
  .slider .slider-btn--right {
    right: 15px;
  }
  .dots {
    bottom: 20px;
  }
}
.dot.active {
  background-color: var(--main-color);
  width: 25px;
  height: 10px;
  border-radius: 30px;
}
/* features styles */
.features {
  margin-bottom: 20px;
}
.features .container {
  background-color: var(--highlight-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 5px;
  row-gap: 20px;
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
.feature-img {
  width: 40px;
}
.feature-text h4 {
  font-size: 15px;
}
.feature-text p {
  font-size: 15px;
  width: 200px;
}
@media (max-width: 760px) {
  .features .container {
    justify-content: center;
    row-gap: 20px;
  }
  .feature {
    justify-content: space-around;
    width: 100%;
  }
}
/* products section styles */
.products-section .container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.products-section .products-container {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.products-section .show-more-btn {
  padding: 15px 10px;
  background-color: var(--main-color);
  width: 170px;
  align-self: center;
  text-align: center;
  color: var(--parg-color);
  border-radius: 20px;
  border: 1px solid var(--main-color);
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s;
}
.products-section .show-more-btn:hover {
  background-color: #ffffff00;
}
.products-section .heading {
  color: var(--parg-color);
  font-size: 30px;
  border-bottom: 1px solid var(--border-color);
  padding: 20px 0;
  position: relative;
  cursor: pointer;
}
.products-section .heading::after {
  content: "";
  display: block;
  background-color: var(--main-color);
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: width 0.5s;
}
.products-section .heading:hover::after {
  width: 100%;
}
@media (max-width: 760px) {
  .products-section .heading {
    font-size: 20px;
  }
}
.product {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  background-color: var(--highlight-color);
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 2;
  min-height: 300px;
}
@media (max-width: 760px) {
  .product {
    width: 100%;
  }
}
.product .overlay {
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 10px;
  justify-content: center;
  right: 10px;
  top: -30px;
  transform: translateX(200%);
  transition: transform 0.3s;
  z-index: 1;
}
.product:hover .overlay {
  transform: translateX(0);
}
@media (max-width: 760px) {
  .product .overlay {
    transform: translateX(0);
  }
}
.product .overlay span {
  background-color: var(--highlight-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
}
.product .overlay span:hover i {
  color: var(--main-color);
}
.product .product-img {
  width: 50%;
  height: 150px;
  transition: transform 0.3s;
}
@media (max-width: 760px) {
  .product-img {
    height: auto !important;
  }
}
.product:hover .product-img {
  transform: scale(1.1);
}
.product .product-title {
  text-align: center;
  color: var(--name-item);
  font-size: 15px;
  font-weight: 500;
}
.product .product-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
}
.product .product-rating i {
  color: var(--main-color);
  font-size: 20px;
}
.product .product-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--parg-color);
}
.product .categories {
  display: flex;
  row-gap: 2px;
  column-gap: 2px;
  flex-wrap: wrap;
}
.product .categories span {
  font-size: 10px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: var(--highlight-color);
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s;
}
.product .categories span:hover {
  background-color: var(--highlight-color);
  color: var(--main-color);
}
/* loader styles */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--main-color) 94%, #0000)
      top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--main-color));
  --webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
.hide-loader {
  display: none;
}
/* Newsletter styles */
.newsletter {
  background-color: var(--highlight-color);
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.newsletter .left-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}
.newsletter .left-col img {
  width: 100px;
}
.newsletter .left-col .newsletter-txt {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.newsletter .left-col .newsletter-txt h4 {
  color: var(--dark-color);
}
.newsletter .right-col .g-form {
  width: 100%;
}
@media (max-width: 760px) {
  .newsletter .container {
    flex-direction: column;
    row-gap: 30px;
  }
}
/* back to top styles */
.back-to-top {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background-color: #4d5669;
  color: var(--highlight-color);
  font-size: 20px;
  font-weight: 500;
  transition: all 0.5s;
}
.back-to-top:hover {
  color: var(--parg-color);
  background-color: var(--main-color);
}
/* footer styles */
footer {
  background-color: #394150;
}
footer .top-footer {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
footer .top-footer .col {
  display: flex;
  flex-direction: column;
}
footer .top-footer .big-col {
  row-gap: 20px;
  align-items: flex-start;
}
footer .top-footer .big-col img {
  width: 10rem;
}
footer .top-footer .big-col .hotline {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
footer .top-footer .big-col .hotline i {
  font-size: 50px;
  color: var(--main-color);
}
footer .top-footer .big-col .hotline p {
  font-size: 20px;
  color: var(--highlight-color);
  width: 15rem;
  text-align: left;
}
footer .top-footer .big-col .hotline p span {
  font-size: 25px;
  color: var(--main-color);
}
.col h3 {
  color: var(--highlight-color);
  margin-bottom: 20px;
}
.col .link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
}

.col .link a {
  color: var(--border-color);
  transition: all 0.5s;
  font-size: 15px;
}
.col .link a:hover {
  transform: translateX(10px);
  color: var(--main-color);
}

@media (max-width: 760px) {
  .top-footer {
    flex-direction: column;
    row-gap: 20px;
  }
  footer .top-footer .col {
    align-items: center;
  }
  .col .link {
    align-items: center;
  }
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333947;
  width: 100%;
  padding: 20px;
}
.bottom-footer p {
  color: var(--highlight-color);
}

.bottom-footer p span a {
  color: var(--main-color);
}

.bottom-footer .payment-logos img {
  filter: grayscale(1);
  transition: all 0.7s;
  cursor: pointer;
}
.bottom-footer .payment-logos img:hover {
  filter: grayscale(0);
}

@media (max-width: 760px) {
  .bottom-footer {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
  }
}

/* About us page styles */
.about-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}

.about-section p {
  text-align: left;
  width: 100%;
  color: var(--dark-color);
  font-size: 20px;
}
@media (max-width: 760px) {
  .about-section p {
    text-align: justify;
  }
}
/* contact us page styles */
.contact-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  margin-top: 20px;
}
.contact-section form label {
  color: var(--parg-color);
  font-size: 18px;
  font-weight: 600;
}
.contact-section form input,
.contact-section form textarea {
  padding: 10px 5px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.contact-section form input:focus,
.contact-section form textarea:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
.contact-section form textarea {
  resize: vertical;
  height: 200px;
}
.contact-section form .send-btn {
  padding: 15px 5px;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--highlight-color);
  font-size: 18px;
  transition: background 0.3s;
}
.contact-section form .send-btn:hover {
  background-color: var(--parg-color);
}
/* all products page styles */
.filter-icon {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
@media (max-width: 760px) {
  .show-filter-icon {
    display: flex;
  }
}
.products-section-custom-container {
  display: flex;
  justify-content: space-between !important;
  flex-direction: row !important;
}
.all-product {
  width: 78%;
}
.filter {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 60%;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 20px;
  transition: all 0.3s;
  row-gap: 25px;
}
.filter .close-filter {
  display: none;
}
@media (max-width: 760px) {
  .products-section-custom-container {
    flex-direction: column !important;
  }
  .all-product {
    width: 100%;
  }
  .filter {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    row-gap: 10px;
  }
  .active-filter {
    transform: translateX(0%);
  }
  .filter .close-filter {
    display: block;
    color: var(--main-color);
    font-size: 40px;
    align-self: center;
    cursor: pointer;
  }
}
.filter h2 {
  text-align: center;
  color: var(--parg-color);
}
.filter h2 i {
  color: var(--main-color);
}

.filter .filter-type {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.filter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3px;
}
.filter form .category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter form .category label {
  cursor: pointer;
  font-size: 20px;
  color: var(--parg-color);
  font-weight: 400;
}
.filter form .category input {
  padding: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  accent-color: var(--main-color);
}
.filter-btn {
  justify-self: center !important;
  cursor: pointer;
}
